@model IEnumerable<NeoXam.Domain.Entities.suivi>

@{
    ViewBag.Title = "Mes Suivis";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="col-sm-12">
    <h4 class="text-secondary"> Liste de mes  Suivis</h4>
    <div class="row">
        <div class="col-md-5">

            <input type="text" class="form-control" name="name" id="chercher" placeholder="Rechercher">

        </div>
    </div>
<br />
    <div class="row">
    </div>
        <div class="row">
            <div class="col-md-5">

                <p>
                    @Html.ActionLink("Faire un suivi", "Create", new { id = "" }, new { @class = "btn btn-success" })
                </p>

            </div>
            <div class="col-md-5">

          @using (Html.BeginForm("ExportData", "Suivi", FormMethod.Post))
          {

            <button type="Submit" class="btn btn-outline-success">Exporter Excel</button>
          }

            </div>
        </div>



    </div> 


<table class="table table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.DateSuivi)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.EntretrienTCarriere)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Eval)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateSuivi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntretrienTCarriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.ActionLink("modifier", "Edit", new { id = item.idSuiv }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSuiv }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("supprimer", "Delete", new { id=item.idSuiv }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@section scripts
{ 
<script>

            $("#chercher").keyup(function(){
                _this = this;
                $.each($("table tr"), function() {
                    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    {if($(this).text().toLowerCase().indexOf('Name') === -1)
                        $(this).hide();}
                    else
                        $(this).show();
                });
            });
</script>
}