@model IEnumerable<NeoXam.Domain.Entities.candidat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div> Serach by name : @Html.TextBox("SearchString")    </div>
            </td>

            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>
}
<table class="table table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkedin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.linkedin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resume)
        </td>

        @*<td>
            @{string path = "~/Content/Upload/" + @item.image;}
            <img src="@Url.Content(path)" width="50" height="50" />                
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CIN }, new { @class = "fa fa-pencil-square-o" }) 
            @*@Html.ActionLink("Details", "Details", new { id = item.CIN }, new { @class = "btn btn-primary far fa-edit" })*@ 
            @Html.ActionLink("Delete", "Delete", new { id = item.CIN }, new { @class = " fa fa-trash" }) 
        </td>
    </tr>
}

</table>
