@model NeoXam.Web.Models.user

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h4 class="mt-0 header-title">Liste Users</h4>
<p class="text-muted m-b-30 font-14">
    Ajouter un Utilisateur à la liste des Utilisateurs de notre Entreprise NeoXam .
</p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.actif, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.actif)
                    @Html.ValidationMessageFor(model => model.actif, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        
       

        <div class="form-group row">
            @Html.LabelFor(model => model.enabled, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.enabled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.enabled, "", new { @class = "text-danger" })
            </div>
        </div>

        

        

        

       

        

        

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
