@model IEnumerable<NeoXam.Domain.Entities.employe>

@{
    ViewBag.Title = "IndexEmploye";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<h2 class="mt-0 header-title">list Employee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p class="text-muted m-b-30 font-14">
    List des utilisateurs de Notre Application NeoXam
</p>
<table id="datatable" class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>adresse</th>
            <th>Email</th>
            <th>Phone</th>
            <th>nbJours</th>
            <th> joinDate</th>
            <th> lastDay</th>
            <th> haveC</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
       
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbJours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.haveC)
        </td>
        
        <td>
            @Html.ActionLink("Créer un Compte", "SendEmail", new { id = item.CIN }) |
          
        </td>
    </tr>
}

    </tbody>
</table>
@section Scripts
{
    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatable init js -->
    <script src="~/assets/pages/datatables.init.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
}