<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>NeoXam - Pidev Project</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/assets/images/Souslogo.jpeg">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="fixed-left">
    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                <i class="ion-close"></i>
            </button>
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <!--<a href="index.html" class="logo">Admiry</a>-->
                    <a href="#" class="logo logo-admin"><img src="~/assets/images/Logo.jpeg" height="150" alt="logo"></a>
                </div>
            </div>
            <div class="sidebar-inner slimscrollleft">
                <div class="user-details">
                    <div class="text-center">
                        <img src="~/assets/images/users/avatar-6.jpg" alt="" class="rounded-circle">
                    </div>
                    <div class="user-info">
                        <h4 class="font-16">Steven Meyers</h4>
                        <span class="text-muted user-status"><i class="fa fa-dot-circle-o text-success"></i> Online</span>
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="index.html" class="waves-effect">
                                <i class="ti-home"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple-outline"></i> <span>Employé</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Ajouter Employee", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter Liste Employé", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Ajouter Département", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter Département", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Ajouter grade", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter grade", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Ajouter Métier", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter Métier", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-box-outline"></i> <span> Poste </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Créer Poste", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter les Postes", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-projector-screen"></i> <span>Projet</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Créer Projet", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter Projet", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="ti-pencil-alt"></i><span>Stagaire </span><span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Ajouter Stagaire", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter Stagaire", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-file-document"></i><span> Document</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">

                                <li>@Html.ActionLink("Créer Document", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter l'archive", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-teamviewer"></i><span>Équipe</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">

                                <li>@Html.ActionLink("Créer une équipe", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter les équipes", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-school"></i><span>Ecole</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Créer une ecole", "Create", "Ecole", routeValues: null, htmlAttributes: new { id = "CreateEcoleLink" })</li>
                                <li>@Html.ActionLink("Consulter les écoles", "Index", "Ecole", routeValues: null, htmlAttributes: new { id = "ShowEcoleLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-school"></i><span>Diplome</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Créer un Diplome", "Create", "Diplome", routeValues: null, htmlAttributes: new { id = "CreateDiplomeLink" })</li>
                                <li>@Html.ActionLink("Consulter les diplomes", "Index", "Diplome", routeValues: null, htmlAttributes: new { id = "ShowEcoleLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-school"></i><span>Ecole</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">

                                <li>@Html.ActionLink("Créer une ecole", "Create", "Ecole", routeValues: null, htmlAttributes: new { id = "CreateEcoleLink" })</li>
                                <li>@Html.ActionLink("Consulter les écoles", "Index", "Ecole", routeValues: null, htmlAttributes: new { id = "ShowEcoleLink" })</li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-school"></i><span>Diplome</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">

                                <li>@Html.ActionLink("Créer un Diplome", "Create", "Diplome", routeValues: null, htmlAttributes: new { id = "CreateDiplomeLink" })</li>
                                <li>@Html.ActionLink("Consulter les diplomes", "Index", "Diplome", routeValues: null, htmlAttributes: new { id = "ShowEcoleLink" })</li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-twitter"></i><span>Suivie </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">

                                <li>@Html.ActionLink("effectuer suivie", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter Suivie", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cake"></i><span>Évenement </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("ajouter évenement", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter évenement", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-elevation-rise"></i><span>Risque </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("ajouter Risque", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter risque", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-information"></i><span>Formation </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Ajouter formation", "Create", "DemandeFormation", routeValues: null, htmlAttributes: new { id = "CreateFormateurLink" })</li>
                                <li>@Html.ActionLink("Consulter Mes Formations", "Index", "DemandeFormation", routeValues: null, htmlAttributes: new { id = "CreateFormateurLink" })</li>
                                <li>@Html.ActionLink("Consulter Tout les Formations", "Index", "Formation", routeValues: null, htmlAttributes: new { id = "CreateFormateurLink" })</li>
                               @if (Request.IsAuthenticated && User.IsInRole("Responsable"))
                               {
                                <li>@Html.ActionLink("Ajouter formateur", "Create", "Formateur", routeValues: null, htmlAttributes: new { id = "CreateFormateurLink" })</li>
                                <li>@Html.ActionLink("Consulter Liste formateur", "Index", "Formateur", routeValues: null, htmlAttributes: new { id = "ShowFormateurLink" })</li>

                               }
                               
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-information"></i><span>réclamations </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Ajouter réclamations", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Consulter réclamations", "Create", "Employe", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-card-details"></i><span>Candidates</span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("ConsulterCandidates", "Index", "Candidats", routeValues: null, htmlAttributes: new { id = "CandidatsLink" })</li>
                                <li>@Html.ActionLink("Consulter Détails", "Fiches", "Candidats", routeValues: null, htmlAttributes: new { id = "CandidatsLinkFichies" })</li>
                                <li>@Html.ActionLink("ConsulterCarrieres", "Index", "Carriere", routeValues: null, htmlAttributes: new { id = "CarrieresLink" })</li>
                                <li>@Html.ActionLink("Create User", "Create", "Users", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Show Employee", "IndexEmploye", "Users", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Show Candidats", "IndexCandidat", "Users", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                                <li>@Html.ActionLink("Show Users", "Index", "Users", routeValues: null, htmlAttributes: new { id = "CreateEmployeeLink" })</li>
                               
                            </ul>
                        </li>
                        <li>
                            <a href="calendar.html" class=""><i class="ti-calendar"></i><span> </span></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <!-- Top Bar Start -->
                <div class="topbar">
                    <nav class="navbar-custom">
                        <ul class="list-inline float-right mb-0">
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell-outline noti-icon"></i>
                                    <span class="badge badge-success noti-icon-badge">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5><span class="badge badge-danger float-right">87</span>Notification</h5>
                                    </div>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
                                        <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                    </a>
                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        View All
                                    </a>
                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-success pull-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                                    }
                                </div>
                            </li>
                        </ul>
                        <ul class="list-inline menu-left mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="button-menu-mobile open-left waves-effect">
                                    <i class="ion-navicon"></i>
                                </button>
                            </li>
                            <li class="hide-phone list-inline-item app-search">
                                <h3 class="page-title">@ViewBag.Title</h3>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
                <!-- Top Bar End -->
                <div class="page-content-wrapper ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                    </div><!-- container -->
                </div> <!-- Page content Wrapper -->
            </div> <!-- content -->
            <footer class="footer">
                © 2018 NeoXam Esprit - Crafted with <i class="mdi mdi-heart text-danger"></i> by GL3D.
            </footer>
        </div>
        <!-- End Right content here -->
    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <!--Morris Chart-->
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/assets/pages/dashborad.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
